In [2]:
import pymongo.collection
import pymongo
import json
import pandas as pd

In [3]:
def read_secret(secret: str) -> str:
    with open("config/secrets.json", "r") as f:
        content = json.loads(f.read())

        return content[secret]


def get_db_connection():
    # mongo_client = read_secret("MONGO_CLIENT")
    client = pymongo.MongoClient("mongodb+srv://admin:admin@giftme.rgncsqt.mongodb.net/test")
    db = client["gift-me"]

    return db

In [19]:
path = "model_data/"
full_dataframe = pd.read_parquet(f"{path}full_dataframe.parquet")
full_dataframe_no_categories = pd.read_parquet(
    f"{path}full_dataframe_no_categories.parquet"
)
with open("model_data/categories_dict.json", "r") as file:
    categories = json.loads(file.read())
with open("model_data/asin_dict.json", "r") as file:
    asin_dict = json.loads(file.read())

In [20]:
full_dataframe

,age,coffee,cooking,sports,cars,technology,garden,asin,category,price,rating
0,22,True,False,True,False,True,False,0,0,27.99,4
1,22,True,False,True,False,True,False,1,0,49.99,4
2,22,True,False,True,False,True,False,2,1,11.99,2
3,22,True,False,True,False,True,False,3,0,182.00,4
4,22,True,False,True,False,True,False,4,1,9.49,3
...,...,...,...,...,...,...,...,...,...,...,...
3270,28,False,False,False,True,True,False,392,7,11.00,0
3271,28,False,False,False,True,True,False,393,7,10.99,0
3272,28,False,False,False,True,True,False,394,7,5.82,0
3273,28,False,False,False,True,True,False,395,7,9.99,1
3274,28,False,False,False,True,True,False,396,7,2.99,0

In [6]:
db = get_db_connection()

In [13]:
db = get_db_connection()
product_rating_collection = db["product_rating"]
cursor = product_rating_collection.find({})
products_collection = db["products"]
categories = {}
asin_dict = {}
cont_cat = 0
cont_asin = 0

dataframe = []
dataframe_no_cat = []
for document in cursor:
    for asin, rating in document["rating"].items():
        actual_doc = {}
        actual_doc_no_cat = {}
        actual_doc["age"] = document["age"]
        actual_doc["coffee"] = document["preferences"]["coffee"]
        actual_doc["cooking"] = document["preferences"]["cooking"]
        actual_doc["sports"] = document["preferences"]["sports"]
        actual_doc["cars"] = document["preferences"]["cars"]
        actual_doc["technology"] = document["preferences"]["technology"]
        actual_doc["garden"] = document["preferences"]["garden"]
        if asin not in asin_dict.keys():
            asin_dict[asin] = cont_asin
            cont_asin += 1
        actual_doc["asin"] = asin_dict[asin]
        product = products_collection.find({"asin": asin})
        category = product[0]["category"]["category_id"]
        if category not in categories.keys():
            categories[category] = cont_cat
            cont_cat += 1
        actual_doc["category"] = categories[category]
        actual_doc["price"] = product[0]["price"]
        actual_doc["rating"] = rating
        dataframe.append(actual_doc)
        actual_doc_no_cat["age"] = document["age"]
        actual_doc_no_cat["coffee"] = document["preferences"]["coffee"]
        actual_doc_no_cat["cooking"] = document["preferences"]["cooking"]
        actual_doc_no_cat["sports"] = document["preferences"]["sports"]
        actual_doc_no_cat["cars"] = document["preferences"]["cars"]
        actual_doc_no_cat["technology"] = document["preferences"]["technology"]
        actual_doc_no_cat["garden"] = document["preferences"]["garden"]
        actual_doc_no_cat["rating"] = rating
        dataframe_no_cat.append(actual_doc_no_cat)

print(dataframe)

df = pd.DataFrame.from_dict(dataframe)
df_no_cat = pd.DataFrame.from_dict(dataframe_no_cat)

[{'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 0, 'category': 0, 'price': 27.99, 'rating': 4}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 1, 'category': 0, 'price': 49.99, 'rating': 4}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 2, 'category': 1, 'price': 11.99, 'rating': 2}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 3, 'category': 0, 'price': 182.0, 'rating': 4}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 4, 'category': 1, 'price': 9.49, 'rating': 3}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 5, 'category': 0, 'price': 39.99, 'rating': 2}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 6, 'category': 2, 'price': 65.99, 'rating': 1}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 7, 'category': 3, 'price': 16.99, 'rating': 1}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 8, 'category': 1, 'price': 60.65, 'rating': 3}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 9, 'category': 4, 'price': 23.48, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 10, 'category': 4, 'price': 15.99, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 11, 'category': 1, 'price': 7.89, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 12, 'category': 4, 'price': 19.99, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 13, 'category': 2, 'price': 3.2, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 14, 'category': 3, 'price': 159.99, 'rating': 4}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 15, 'category': 2, 'price': 8.99, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 16, 'category': 0, 'price': 15.99, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 17, 'category': 4, 'price': 11.99, 'rating': 1}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 18, 'category': 0, 'price': 49.0, 'rating': 3}, {'age': '24', 'coffee': False, 'cooking': True, 'sports': True, 'cars': False, 'technology': False, 'garden': True, 'asin': 19, 'category': 1, 'price': 119.99, 'rating': 3}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 20, 'category': 0, 'price': 5.99, 'rating': 1}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 21, 'category': 3, 'price': 36.95, 'rating': 1}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 22, 'category': 1, 'price': 19.64, 'rating': 2}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 23, 'category': 3, 'price': 42.08, 'rating': 2}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 24, 'category': 2, 'price': 18.9, 'rating': 1}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 25, 'category': 1, 'price': 22.99, 'rating': 1}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 26, 'category': 4, 'price': 9.6, 'rating': 4}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 27, 'category': 3, 'price': 12.89, 'rating': 1}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 28, 'category': 4, 'price': 11.99, 'rating': 4}, {'age': '18', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 29, 'category': 0, 'price': 59.99, 'rating': 2}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 30, 'category': 2, 'price': 12.9, 'rating': 1}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 31, 'category': 0, 'price': 59.99, 'rating': 4}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 32, 'category': 0, 'price': 29.99, 'rating': 3}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 33, 'category': 4, 'price': 7.42, 'rating': 1}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 34, 'category': 4, 'price': 10.99, 'rating': 1}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 35, 'category': 3, 'price': 25.02, 'rating': 2}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 14, 'category': 3, 'price': 159.99, 'rating': 1}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 22, 'category': 1, 'price': 19.64, 'rating': 3}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 36, 'category': 2, 'price': 9.7, 'rating': 1}, {'age': '17', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 37, 'category': 1, 'price': 69.99, 'rating': 2}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 38, 'category': 1, 'price': 7.49, 'rating': 3}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 24, 'category': 2, 'price': 18.9, 'rating': 1}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 39, 'category': 1, 'price': 71.77, 'rating': 2}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 40, 'category': 1, 'price': 6.99, 'rating': 1}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 41, 'category': 3, 'price': 23.9, 'rating': 3}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 42, 'category': 1, 'price': 40.99, 'rating': 3}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 43, 'category': 3, 'price': 24.02, 'rating': 1}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 44, 'category': 4, 'price': 19.84, 'rating': 1}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 31, 'category': 0, 'price': 59.99, 'rating': 2}, {'age': '21', 'coffee': True, 'cooking': True, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 30, 'category': 2, 'price': 12.9, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 45, 'category': 2, 'price': 15.9, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 46, 'category': 4, 'price': 46.08, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 47, 'category': 1, 'price': 47.93, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 43, 'category': 3, 'price': 24.02, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 48, 'category': 2, 'price': 7.99, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 49, 'category': 4, 'price': 13.17, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 50, 'category': 2, 'price': 13.5, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 51, 'category': 1, 'price': 5.09, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 52, 'category': 3, 'price': 13.76, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 53, 'category': 3, 'price': 24.86, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 54, 'category': 3, 'price': 21.99, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 55, 'category': 1, 'price': 129.99, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 56, 'category': 1, 'price': 9.6, 'rating': 2}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 57, 'category': 0, 'price': 29.99, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 29, 'category': 0, 'price': 59.99, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 58, 'category': 0, 'price': 33.99, 'rating': 2}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 59, 'category': 2, 'price': 18.3, 'rating': 1}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 60, 'category': 3, 'price': 89.9, 'rating': 2}, {'age': '21', 'coffee': False, 'cooking': False, 'sports': True, 'cars': True, 'technology': False, 'garden': False, 'asin': 61, 'category': 2, 'price': 15.99, 'rating': 1}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 62, 'category': 3, 'price': 109.49, 'rating': 2}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 63, 'category': 3, 'price': 139.99, 'rating': 2}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 64, 'category': 1, 'price': 26.7, 'rating': 3}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 65, 'category': 4, 'price': 13.58, 'rating': 4}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 4, 'category': 1, 'price': 9.49, 'rating': 3}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 66, 'category': 2, 'price': 69.0, 'rating': 1}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 36, 'category': 2, 'price': 9.7, 'rating': 1}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 67, 'category': 0, 'price': 1.07, 'rating': 3}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 68, 'category': 2, 'price': 4.59, 'rating': 1}, {'age': '19', 'coffee': False, 'cooking': False, 'sports': False, 'cars': True, 'technology': True, 'garden': False, 'asin': 69, 'category': 0, 'price': 229.0, 'rating': 4}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 70, 'category': 1, 'price': 99.99, 'rating': 5}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 71, 'category': 0, 'price': 59.99, 'rating': 5}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 72, 'category': 3, 'price': 21.99, 'rating': 3}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 19, 'category': 1, 'price': 119.99, 'rating': 5}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 73, 'category': 2, 'price': 17.95, 'rating': 1}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 74, 'category': 1, 'price': 202.62, 'rating': 3}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 75, 'category': 1, 'price': 8.99, 'rating': 3}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 76, 'category': 2, 'price': 1.2, 'rating': 1}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 77, 'category': 0, 'price': 49.99, 'rating': 4}, {'age': '22', 'coffee': True, 'cooking': False, 'sports': False, 'cars': False, 'technology': True, 'garden': False, 'asin': 78, 'category': 3, 'price': 12.99, 'rating': 1}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 79, 'category': 2, 'price': 28.99, 'rating': 3}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 34, 'category': 4, 'price': 10.99, 'rating': 3}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 38, 'category': 1, 'price': 7.49, 'rating': 3}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 80, 'category': 3, 'price': 16.99, 'rating': 4}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 81, 'category': 3, 'price': 259.99, 'rating': 4}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 82, 'category': 1, 'price': 89.96, 'rating': 4}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 83, 'category': 0, 'price': 29.98, 'rating': 4}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 84, 'category': 4, 'price': 25.95, 'rating': 4}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 30, 'category': 2, 'price': 12.9, 'rating': 4}, {'age': '20', 'coffee': True, 'cooking': False, 'sports': True, 'cars': False, 'technology': True, 'garden': False, 'asin': 85, 'category': 3, 'price': 39.9, 'rating': 4}]

In [14]:
asin_dict

{'B07W4FMSD9': 0,
 'B09B94956P': 1,
 'B00FF2FURQ': 2,
 'B09QH6KD26': 3,
 'B084WT4WWK': 4,
 'B0B872LZLX': 5,
 'B00UOUK4IE': 6,
 'B09XH38KCL': 7,
 'B07YD579WM': 8,
 'B07H4NYVCD': 9,
 'B009FUF6DM': 10,
 'B0B1JL6SML': 11,
 'B0831FXXFP': 12,
 'B000OR6OEA': 13,
 'B09W5G56D1': 14,
 'B07CNV5J2W': 15,
 'B093H4D6N9': 16,
 'B07F2GY3QC': 17,
 'B0B2W8VMDY': 18,
 'B091H4T91B': 19,
 'B01CG0TO76': 20,
 'B01MRROWEQ': 21,
 'B09F84N768': 22,
 'B07P1328L3': 23,
 'B0064RTUP4': 24,
 'B07PDBYX48': 25,
 'B019IDWBLK': 26,
 'B0BS46PFYJ': 27,
 'B08DFT968Q': 28,
 'B09B95DTR4': 29,
 'B000EEL6J6': 30,
 'B08KH2MTSS': 31,
 'B07XLML2YS': 32,
 'B074JK2DWS': 33,
 'B07GH59PT2': 34,
 'B06Y5XDNXF': 35,
 'B0002H0JZC': 36,
 'B07RM95YFC': 37,
 'B08JD4TBM3': 38,
 'B078211KBB': 39,
 'B09Y2TCPFJ': 40,
 'B07MSJDB8M': 41,
 'B0786QNS9B': 42,
 'B07KK7FZ15': 43,
 'B07S215ZFY': 44,
 'B000A6EUSC': 45,
 'B013DY5GY4': 46,
 'B08KNTFQX1': 47,
 'B018QJNCD8': 48,
 'B00295IEZM': 49,
 'B0002E1P4Y': 50,
 'B0BMT4WMVM': 51,
 'B07F8MFNXV': 52,
 'B08N133D4N': 53,
 'B07CM7JYH2': 54,
 'B08C3XVP2P': 55,
 'B07RK6CVS3': 56,
 'B08X6DCJT2': 57,
 'B0B92HXFYT': 58,
 'B003UB1F46': 59,
 'B0BPYVNW3L': 60,
 'B07N4JW35C': 61,
 'B096KP3J3K': 62,
 'B07N8N6C85': 63,
 'B01N0TQPQB': 64,
 'B0B1ZYTPDX': 65,
 'B00R41I0OQ': 66,
 'B000CSLIP6': 67,
 'B019ZSUXXQ': 68,
 'B09SGFGG94': 69,
 'B06Y13QBYL': 70,
 'B09B8RVKGW': 71,
 'B073Q27L9D': 72,
 'B07PPDY2NS': 73,
 'B09MTTYZP1': 74,
 'B09N9QP82Q': 75,
 'B000EEJEZ4': 76,
 'B0B9MX76FB': 77,
 'B078C6QR1C': 78,
 'B07BMQMF9N': 79,
 'B08PL6WB1V': 80,
 'B09JQVH2TJ': 81,
 'B0BLNQP3HW': 82,
 'B0B6HFFLHB': 83,
 'B08KHJHZVQ': 84,
 'B09TLGTTVN': 85}

In [50]:
print(categories)

{'electronics': 0, 'computers': 1, '4965355031': 2, 'kitchen': 3, 'automotive': 4}

In [51]:
with open("model_data/asin_dict.json", "w") as outfile:
    json.dump(asin_dict, outfile)

with open("model_data/categories_dict.json", "w") as outfile:
    json.dump(categories, outfile)

In [52]:
with open("model_data/categories_dict.json", "r") as file:
    a = json.loads(file.read())

In [53]:
df

,age,coffee,cooking,sports,cars,technology,garden,asin,category,price,rating
0,22,True,False,True,False,True,False,0,0,27.99,4
1,22,True,False,True,False,True,False,1,0,49.99,4
2,22,True,False,True,False,True,False,2,1,11.99,2
3,22,True,False,True,False,True,False,3,0,182.00,4
4,22,True,False,True,False,True,False,4,1,9.49,3
...,...,...,...,...,...,...,...,...,...,...,...
94,20,True,False,True,False,True,False,82,1,89.96,4
95,20,True,False,True,False,True,False,83,0,29.98,4
96,20,True,False,True,False,True,False,84,4,25.95,4
97,20,True,False,True,False,True,False,30,2,12.90,4
98,20,True,False,True,False,True,False,85,3,39.90,4

In [15]:
def create_df_to_predict(
    preferences,
    products,
    asin_dict: dict[str, int],
    cat_dict: dict[str, int],
):
    dataframe = []
    print("PREFERENCES:")
    print(preferences)
    for document in products:
        if document["asin"] in asin_dict:
            actual_doc = {
                "age": preferences["age"],
                "coffee": preferences["preferences"]["coffee"],
                "cooking": preferences["preferences"]["cooking"],
                "sports": preferences["preferences"]["sports"],
                "cars": preferences["preferences"]["cars"],
                "technology": preferences["preferences"]["technology"],
                "garden": preferences["preferences"]["garden"],
                "asin": asin_dict[document["asin"]],
                "category": cat_dict[document["category"]["category_id"]],
                "price": document["price"],
            }
            dataframe.append(actual_doc)

    return pd.DataFrame.from_dict(dataframe)

In [121]:
products_collection = db["products"].find()
with open("model_data/asin_dict.json", "r") as file:
    asin_dict = json.loads(file.read())
with open("model_data/categories_dict.json", "r") as file:
    categories_dict = json.loads(file.read())
preferences = {
    "name": 'string', "age":'22', "preferences":{'coffee': False, 'cooking': False, 'cars': True, 'technology': False, 'garden': False, 'sports': False}
}

In [122]:
df_test = create_df_to_predict(preferences, products_collection, asin_dict, categories_dict)

PREFERENCES:
{'name': 'string', 'age': '22', 'preferences': {'coffee': False, 'cooking': False, 'cars': True, 'technology': False, 'garden': False, 'sports': False}}

In [123]:
df_test

,age,coffee,cooking,sports,cars,technology,garden,asin,category,price
0,22,False,False,False,True,False,False,86,2,6.90
1,22,False,False,False,True,False,False,36,2,9.70
2,22,False,False,False,True,False,False,15,2,8.99
3,22,False,False,False,True,False,False,87,2,14.33
4,22,False,False,False,True,False,False,30,2,12.90
...,...,...,...,...,...,...,...,...,...,...
392,22,False,False,False,True,False,False,392,7,11.00
393,22,False,False,False,True,False,False,393,7,10.99
394,22,False,False,False,True,False,False,394,7,5.82
395,22,False,False,False,True,False,False,395,7,9.99
396,22,False,False,False,True,False,False,396,7,2.99

In [77]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [78]:
df = full_dataframe

In [79]:
df

,age,coffee,cooking,sports,cars,technology,garden,asin,category,price,rating
0,22,True,False,True,False,True,False,0,0,27.99,4
1,22,True,False,True,False,True,False,1,0,49.99,4
2,22,True,False,True,False,True,False,2,1,11.99,2
3,22,True,False,True,False,True,False,3,0,182.00,4
4,22,True,False,True,False,True,False,4,1,9.49,3
...,...,...,...,...,...,...,...,...,...,...,...
3270,28,False,False,False,True,True,False,392,7,11.00,0
3271,28,False,False,False,True,True,False,393,7,10.99,0
3272,28,False,False,False,True,True,False,394,7,5.82,0
3273,28,False,False,False,True,True,False,395,7,9.99,1
3274,28,False,False,False,True,True,False,396,7,2.99,0

In [80]:
X = df.loc[:, df.columns != 'rating']
y = df.loc[:, df.columns == 'rating']

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [92]:
neigh = KNeighborsRegressor(n_neighbors=3)
neigh.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=3)

In [93]:
y_pred = neigh.predict(X_test)
y_pred = y_pred.round(decimals=0)

In [132]:
from joblib import dump, load
dump(neigh, 'model_res/KNN.joblib')

['model_res/KNN.joblib']

In [133]:
model = load("model_res/KNN.joblib")

In [134]:
print(model)

KNeighborsRegressor(n_neighbors=3)

In [95]:
report_with_categories = classification_report(y_test, y_pred)

c:\Apps\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Apps\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Apps\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [96]:
print(report_with_categories)

              precision    recall  f1-score   support

           0       0.78      0.53      0.63       424
           1       0.07      0.31      0.11        35
           2       0.06      0.15      0.09        39
           3       0.05      0.14      0.08        37
           4       0.27      0.04      0.07        71
           5       0.00      0.00      0.00        49

    accuracy                           0.38       655
   macro avg       0.21      0.20      0.16       655
weighted avg       0.55      0.38      0.43       655

In [129]:
preds = neigh.predict(df_test)
asin = preds.argmax()
asin_max = df.iloc[asin]["asin"]
asin = list(asin_dict.keys())[list(asin_dict.values()).index(asin_max)]
db["products"].find_one({"asin": {"$eq": str(asin)}})

{'_id': ObjectId('644ea7c817febbbce38858c1'),
 'id': 'b7c15788-9289-45d7-8c2a-1a79494c51ea',
 'asin': 'B0BL3B9GDV',
 'name': 'Kingston DataTraveler Exodia DTX/64GB Flash Drive USB 3.2 Gen 1 - with Protective Cap and Keyring in Multiple Colours, Paquet',
 'link': 'https://www.amazon.es/Kingston-DataTraveler-Exodia-Flash-Drive/dp/B0BL3B9GDV/ref=zg_bs_computers_sccl_17/259-5547243-5461650?psc=1',
 'image': 'https://images-eu.ssl-images-amazon.com/images/I/3158RpBzVhL._AC_UL300_SR300,200_.jpg',
 'price': 11.29,
 'category': {'name': 'InformÃ¡tica',
  'category_id': 'computers',
  'category_url': 'https://www.amazon.es/gp/bestsellers/computers'}}

In [109]:
a

{'_id': ObjectId('644ea7c817febbbce38858c1'),
 'id': 'b7c15788-9289-45d7-8c2a-1a79494c51ea',
 'asin': 'B0BL3B9GDV',
 'name': 'Kingston DataTraveler Exodia DTX/64GB Flash Drive USB 3.2 Gen 1 - with Protective Cap and Keyring in Multiple Colours, Paquet',
 'link': 'https://www.amazon.es/Kingston-DataTraveler-Exodia-Flash-Drive/dp/B0BL3B9GDV/ref=zg_bs_computers_sccl_17/259-5547243-5461650?psc=1',
 'image': 'https://images-eu.ssl-images-amazon.com/images/I/3158RpBzVhL._AC_UL300_SR300,200_.jpg',
 'price': 11.29,
 'category': {'name': 'InformÃ¡tica',
  'category_id': 'computers',
  'category_url': 'https://www.amazon.es/gp/bestsellers/computers'}}

In [102]:
from sklearn.tree import DecisionTreeRegressor

In [103]:
tree = DecisionTreeRegressor(random_state=0)
tree_nocat = DecisionTreeRegressor(random_state=0)
tree.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [104]:
y_pred = tree.predict(X_test)
y_pred = y_pred.round(decimals=0)

In [105]:
report_with_categories = classification_report(y_test, y_pred)

In [106]:
print(report_with_categories)

              precision    recall  f1-score   support

           0       0.88      0.89      0.88       424
           1       0.30      0.20      0.24        35
           2       0.14      0.13      0.13        39
           3       0.19      0.24      0.21        37
           4       0.57      0.49      0.53        71
           5       0.37      0.41      0.39        49

    accuracy                           0.69       655
   macro avg       0.41      0.39      0.40       655
weighted avg       0.69      0.69      0.69       655

In [127]:
preds = tree.predict(df_test)
asin = preds.argmax()
asin_max = df.iloc[asin]["asin"]
asin = list(asin_dict.keys())[list(asin_dict.values()).index(asin_max)]
db["products"].find_one({"asin": {"$eq": str(asin)}})

{'_id': ObjectId('644ea8456f5ba6af2ee8972a'),
 'id': 'eb5ad0a8-08ee-4c22-88cc-4a2667fee0cd',
 'asin': 'B07MLFBJG3',
 'name': 'Amazon Basics - Pilas alcalinas AA de uso industrial (40 unidades)',
 'link': 'https://www.amazon.es/AmazonBasics-Pilas-alcalinas-industrial-unidades/dp/B07MLFBJG3/ref=zg_bs_electronics_sccl_5/262-8476385-3599843?psc=1',
 'image': 'https://images-eu.ssl-images-amazon.com/images/I/81FGpGF5kaL._AC_UL300_SR300,200_.jpg',
 'price': 10.38,
 'category': {'name': 'ElectrÃ³nica',
  'category_id': 'electronics',
  'category_url': 'https://www.amazon.es/gp/bestsellers/electronics'}}

In [131]:
from joblib import dump, load
dump(tree, 'model_res/TREE.joblib')

['model_res/TREE.joblib']

In [126]:
from datetime import datetime

In [108]:
now = datetime.now()

current_time = now.strftime("%D-%H:%M:%S")
print(current_time)

06/14/23-21:14:34